<div class="semaphore-content">
    <div class="circle">
        <div class="content-text">
            <span>
               90
            </span>
        </div>
    </div>
    <div class="circle">
        <div class="content-text">
            <span>
                50
            </span>
        </div>
    </div>
    <div class="circle">
        <div class="content-text">
            <span>
                20
            </span>
        </div>
    </div>
    <div class="value">
      <span class="current">Valor actual</span> <span class="c_value">58</span> 
    </div>
</div>
