<div class="container-menu">
    <div class="derechos">®️CMA. Todos los derechos reservados</div>
    <div class="separador">
        <div class="title">Funciones</div>
        <div class="line"></div>
    </div>     
    <div class="options" (click)="change_option_event(3)">
        <div class="icon">
            <img src="./assets/dashboard.png" alt="📉">
        </div>
        <div class="title">Dashboard</div>
    </div>
    <div class="options" (click)="change_option_event(5)">
        <div class="icon">
            <img src="./assets/tag.svg" alt="📉">
        </div>
        <div class="title">Variables</div>
    </div>
    <div class="options" (click)="change_option_event(4)">
        <div class="icon">
            <img src="./assets/functions.png" alt="📉">
        </div>
        <div class="title">Alertas</div>
    </div>
    <div class="options" (click)="change_option_event(1)">
        <div class="icon">
            <img src="./assets/sequence.svg" alt="📉">
        </div>
        <div class="title">Secuencias</div>
    </div>
    <!-- <div class="options" (click)="change_option_event(1)">
        <div class="icon">
            <img src="./assets/message.png" alt="📉">
        </div>
        <div class="title">Autentificacion API</div>
    </div> -->
    <div class="separador">
        <div class="title">Sistema</div>
        <div class="line"></div>
    </div>     
    <div class="options" (click)="change_option_event(2)">
        <div class="icon">
            <img src="./assets/user.png" alt="📉">
        </div>
        <div class="title">Cuenta personal</div>
    </div>
    <div class="options" (click)="change_option_event(6)">
        <div class="icon">
            <img src="./assets/logout.png" alt="📉">
        </div>
        <div class="title">Salir</div>
    </div>
</div>